<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>招聘职位-搜索</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
    <script src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/getParameter.js"></script>
    <script type="text/javascript" src="js/myTool.js"></script>
    <script src="./js/vue.js"></script>
    <!--vue-source依赖于vue-->
    <script src="./js/vue-resource-1.3.4.js"></script>
    <script type="text/javascript">
        //页面加载事件
       /* $(function () {
            initSearch(null);//发送请求,进行搜索
        });*/

        //设置全局变量
        var result=9;
        //后台查询二级类别
        function getJobGrade1(jobGradeId) {
            /*
            * 发送ajax请求,去后台查询*/
            $.ajaxSettings.async = false;
            $.get(
                "/jobCategory/getJobGradeById",//Servlet地址
                {jobGradeId:jobGradeId},
                function (resulteInfo){
                    if(resulteInfo.flag){
                        var data=resulteInfo.data;
                        result=data.secondName;
                    }else{
                        console.log("服务器繁忙")
                    }

                },
                "json"
            );
            $.ajaxSettings.async = true;
            return result;
        }
        //两位小数的正数的正则表达式
        var zhengShu=new RegExp(/^((0{1}\.\d{1,2})|([1-9]\d*\.{1}\d{1,2})|([1-9]+\d*)|0)$/);
        /*
        * 确定按钮的事件*/
        function priceReady() {
            //获取上限和下限的值
            var max_price = $("#max_price").val();
            var min_price = $("#min_price").val();

            //对上限和下限的值进行正则判断,上限必须为正数([1-9][0-9]*(\.\d{1,2})?)|(0\.\d{1,2})
            console.log(max_price);
            if(zhengShu.test(max_price) &&
                zhengShu.test(min_price) &&
                (max_price>min_price) ){
                //发送post请求
                var map={min_price:min_price,max_price:max_price};
                initSearch(map);
            }else if(zhengShu.test(max_price) && ""==min_price){
                //发送post请求,默认最小为0
                var map={min_price:"0",max_price:max_price};
                initSearch(map);
            }else if(zhengShu.test(min_price) && ""==max_price){
                //发送post请求,默认最大为null
                var map={min_price:min_price,max_price:null};
                initSearch(map);
            }else{
                $("#max_price").val("");
                $("#min_price").val("");
                return;
            }
        }
        function initSearch(map) {
            //获取用户请求当前页
            var curPage= getParameter("curPage");
            //获取搜索的rname,这里获取的是url编码的16进制数据,需要转码url解码
            var jname =decodeURI(getParameter("jname"))=="null"?"":decodeURI(getParameter("jname")) ;
            $("#content").val(jname);
            if(null!=map){
                var minPrice = map.min_price;
                var maxPrice = map.max_price;
                var args={curpage: curPage, key: jname,minPrice:minPrice,maxPrice:maxPrice};
            }else{
                var args={curpage: curPage, key: jname};
            }

            $.ajax({
                type: "POST",
                url: "/es/search",
                contentType: "application/json",
                data: JSON.stringify(args),
                dataType: "json",
                success: function (resultInfo) {
                    if (resultInfo.flag) {
                        //正常获取数据
                        //获取当前页PageBean数据
                        var pageBean = resultInfo.data;
                        //获取当前页列表数据
                        var jobList = pageBean.data;
                        var html = "";
                        for (job of jobList) {
                            html += "<tr>\n" +
                                "<td >" + "<a href=\"/job1_detail.html?job1Id=" + job.id + "\" style='color: #3683ff'>" +
                                getJobGrade1(job.jobGrade) + "\n" +
                                "<td>" + job.jobSite + "\n" +
                                "<td>" + job.jobWage + "\n" +
                                "<td>" + JX_data(job.jobUpdateDate) + "\n";
                        }
                        //更新页面 /*TODO*/
                        $(".tbody-zanshi").html(html);
                        //更新分页信息
                        var html = "";
                        //拼接首页
                        html += "<li><a href=\"job_list.html?curPage=" + pageBean.firstPage + "\">首页</a></li>";
                        //拼接上一页pageBean.prePage
                        if (pageBean.curPage > 1) {
                            html += "<li class=\"threeword\"><a href=\"job_list.html?curPage=" + pageBean.prePage + "\">上一页</a></li>";
                        }
                        //定义起始页和结束页
                        var begin, end;
                        if (pageBean.totalPage <= 10) {
                            begin = 1;
                            end = pageBean.totalPage;
                        } else {
                            begin = pageBean.curPage - 5;
                            end = pageBean.curPage + 4;
                            // 头溢出,begin<1
                            if (begin < 1) {
                                begin = 1;
                                end = begin + 9;
                            }
                            // 尾溢出,end>totalPage
                            if (end > pageBean.totalPage) {
                                end = pageBean.totalPage;
                                begin = end - 9;
                            }
                        }
                        //每页数字
                        for (var i = begin; i <= end; i++) {
                            if (i == pageBean.curPage) {
                                html += "<li class=\"curPage\"><a href=\"route_list.html?curPage=" + i + "\">" + i + "</a></li>";
                            } else {
                                html += "<li><a href=\"job_list.html?curPage=" + i + "\">" + i + "</a></li>";
                            }
                        }
                        //拼接下一页pageBean.nextPage
                        if (pageBean.curPage < pageBean.totalPage) {
                            html += "<li class=\"threeword\"><a href=\"job_list.html?curPage=" + pageBean.nextPage + "\">下一页</a></li>";
                        }
                        //拼接末页pageBean.totalPage
                        html += " <li class=\"threeword\"><a href=\"job_list.html?curPage=" + pageBean.totalPage + "\">末页</a></li>";
                        //更新
                        $(".pageNum ul").html(html);
                        //更新总页数
                        $(".page_num_inf span:eq(0)").html(pageBean.totalPage);
                        //更新总记录数
                        $(".page_num_inf span:eq(1)").html(pageBean.count);
                    } else {
                        console.log(resultInfo.errorMsg);
                    }
                }
            });
        }
    </script>

</head>
<body>
<!--引入头部-->
<div id="header"></div>
    <div class="page_one">
        <div class="contant" id="contant">
            <div class="search_filter_all">
                <span class="price_range" style="display: inline-block">日薪:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input class="input_price" v-model="minPrice" id="min_price" type="text" placeholder="￥" >
                <span>-</span>
                <input class="input_price" v-model="maxPrice" id="max_price" type="text" placeholder="￥" >
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button class="button_ready" id="btn01" onclick="priceReady()">确定</button>
            </div>
            <div class="crumbs">
                <img src="images/search.png" alt="">
                <p>职位招聘><span>搜索结果</span>

                </p>
            </div>
            <div class="xinxi clearfix">
                <div class="left">
                    <!--//表格,职位信息--><!--TODO-->
                    <table class="table-zanshi">
                        <thead>
                        <tr>
                            <th >职位等级
                            <th>地点
                            <th>日薪
                            <th>发布时间
                        </thead>
                        <tbody class="tbody-zanshi">
                        <tr v-for="job in jobList">
                            <td ><a v-text="job.jobGrade" :href="'job1_detail.html?job1Id='+job.job1Id"></a></td>
                            <td v-text="job.jobSite"></td>
                            <td v-text="job.jobWage"></td>
                            <td >{{job.jobUpdateDate | dateFormat}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="page_num_inf">
                        <i></i> 共
                        <span v-text="pageInfo.totalPage"></span>页<span v-text="pageInfo.count"></span>条

                    </div>
                    <div class="pageNum">
                        <ul >
                            <li><a :href="'job_list.html?jname='+jname+'&curPage='+pageInfo.firstPage">首页</a></li>
                            <li class="threeword" v-show="pageInfo.curPage>1"><a :href="'job_list.html?jname='+jname+'&curPage='+pageInfo.prePage">上一页</a></li>

                            <span v-for="num in end " >
                                <span v-if="num == pageInfo.curPage">
                                    <li class="curPage"><a :href="'job_list.html?jname='+jname+'&curPage='+num"  v-text="num"></a></li>
                                </span>
                                <span v-else-if="num >=begin">
                                    <li><a :href="'job_list.html?jname='+jname+'&curPage='+num" v-text="num"></a></li>
                                </span>
                            </span>
                            <li class="threeword" v-show="pageInfo.curPage<pageInfo.totalPage"><a :href="'job_list.html?jname='+jname+'&curPage='+pageInfo.nextPage">下一页</a></li>

                            <li class="threeword"><a :href="'job_list.html?jname='+jname+'&curPage='+pageInfo.totalPage">末页</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--引入头部-->
    <div id="footer"></div>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="js/include.js"></script>
<script>
    //定义过滤器,进行时间的格式化,这是全局的,过滤器只能在插值表达式中使用
    Vue.filter("dateFormat",function (dateStr) {
        var date=new Date(dateStr);
        //获取年月日
        var year=date.getFullYear();
        var month=(date.getMonth()+1).toString().padStart(2,"0");
        var day=date.getDate().toString().padStart(2,"0");
        return `${year}-${month}-${day}`;
    });
    //定义过滤器,进行时间的格式化,这是全局的,过滤器只能在插值表达式中使用
    Vue.filter("getGradeName01",function (dateStr) {
        console.log(this.jobGradeObj);
        //发送ajax根据值获取名称
        var secondName=null;
        /*this.$http.get('/jobCategory/getJobGradeById',{jobGradeId: dateStr})
            .then(function (result) {
                    if(result.body.flag){
                        var data=result.body.data;
                        secondName=data.secondName;

                    }else{
                        console.log("服务器繁忙")
                    }
                });*/
        return secondName;

    });
    //定义一个vue实例
    var vm =new Vue({
        el: "#contant",
        data: {
            minPrice:'',//最小价格
            maxPrice:'',//最大价格
            pageInfo:{},//分页信息
            jobList:[],//工作表数据
            begin:null,//起始页
            end:null,//结束页
            jobGradeObj:["haha","jjjj"],//二级分类的对象,保存所有的二级分类信息
            jname:'',//搜索的关键字

        },
        methods:{

        },
        created(){
            //获取用户请求当前页
            var curPage= getParameter("curPage");
            //获取搜索的rname,这里获取的是url编码的16进制数据,需要转码url解码
            var jname =decodeURI(getParameter("jname"))=="null"?"":decodeURI(getParameter("jname")) ;
            this.jname=jname;
            this.$http.post('/es/search', JSON.stringify({curPage:curPage,key: jname}),{emulateJSON: true})
                .then(function (result) {
                        if(result.body.flag){
                            //获取当前页PageBean数据
                            this.pageInfo = result.body.data;
                            //获取当前页列表数据
                            this.jobList = this.pageInfo.data;
                            //遍历jobList
                            for(let job of this.jobList){
                            }
                            //给begin和end赋值
                            if(this.pageInfo.totalPage<=10){
                                this.begin =1;
                                this.end = this.pageInfo.totalPage;
                            }else{
                                this.begin = this.pageInfo.curPage-5;
                                this.end = this.pageInfo.curPage+4;
                                // 头溢出,begin<1
                                if(this.begin<1){
                                    this.begin = 1;
                                    this.end = this.begin+9;
                                }
                                // 尾溢出,end>totalPage
                                if(this.end>this.pageInfo.totalPage){
                                    this.end = this.pageInfo.totalPage;
                                    this.begin = this.end-9;
                                }
                            }
                        }else{

                        }

                    }
                );
            //发送ajax获取所有的二级分类信息,并且保存到一个json对象中
            this.$http.get('/jobCategory/getAllJobGrade').then(function (result) {
                if(result.body.flag){
                    this.jobGradeObj = result.body.data;
                }else{
                    console.log("获取二级分类列表失败");
                }
            });

        },
        beforeMount(){
            for(jobObj in this.jobGradeObj){
                console.log(jobObj);
            }
        },
        mounted(){
        },
        beforeUpdate(){
            console.log(this.jobGradeObj);

        },
        updated(){

        }
    });
</script>
</body>

</html>