<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>我的招聘信息</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/myJobInfo.css">
    <style>
        .tab-content .row > div {
            margin-top: 16px;
        }

        .tab-content {
            margin-bottom: 36px;
        }
    </style>
    <script src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/getParameter.js"></script>
    <script src="./js/vue.js"></script>
    <!--vue-source依赖于vue-->
    <script src="./js/vue-resource-1.3.4.js"></script>
</head>
<body>
<!--引入头部-->
<div id="header"></div>

<div class="rg_form">
    <!--招聘信息-->
    <div class="job_content" id="jobContent">
        <!--招聘表单-->
        <form id="jobInfoForm">
            <!--提交处理请求的标识符-->
            <input type="hidden" name="action" value="register">
            <table style="margin-top: 25px;">
                <tr>
                    <td class="td_left">
                        <label for="jobCategory">职业:</label>
                    </td>
                    <td class="td_right">
                        <select type="text" v-model="jobInfo.jobCategory" id="jobCategory" name="jobCategory" style="width:150px" >
                            <option >请选择职业</option>
                            <option  v-for="list in jobCategoryList" :value="list.firstId">{{list.firstName}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                        <label for="jobGrade">职业等级:</label>
                    </td>
                    <td class="td_right">
                        <select type="text"  v-model="jobInfo.jobGrade" id="jobGrade" name="jobGrade" style="width:150px" >
                            <option >请选择职业等级</option>
                        <option  v-for="list in jobGradeList" :value="list.secondId">{{list.secondName}}</option>                            </select>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                        <label for="jobDetail">职业具体要求:</label>
                    </td>
                    <td class="td_right">
                        <textarea  v-model="jobInfo.jobDetail"  id="jobDetail" name="jobDetail" rows="10" cols="100" placeholder="请输入具体要求" style="border-radius: 4px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                        <label for="province">地区:</label>
                    </td>
                    <td class="td_right">
                    <select type="text" v-model="jobInfo.provinceCode" id="province" name="province" style="width:150px" >
                        <option >请选择省份</option>
                        <option  v-for="list in provinceList" :value="list.code">{{list.name}}</option>                            </select>
                        </select>

                        <select type="text" v-model="jobInfo.cityCode" id="city" name="city" style="width:150px" >
                            <option >请选择城市</option>
                            <option  v-for="list in cityList" :value="list.code">{{list.name}}</option>                            </select>

                        </select>
                        <select type="text" v-model="jobInfo.areaCode" id="area" name="area" style="width:150px" >
                            <option >请选择地区</option>
                            <option  v-for="list in areaList" :value="list.code">{{list.name}}</option>                            </select>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                        <label for="jobWage">提供日薪:</label>
                    </td>
                    <td class="td_right">
                        <input type="text" v-model="jobInfo.jobWage" id="jobWage" name="jobWage" placeholder="请输入日薪" style="text-align:right">
                        元/天
                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                        <label for="firstName">联系人:</label>
                    </td>
                    <td class="td_right">
                        <input type="text" v-model="jobInfo.firstName" id="firstName" name="firstName" placeholder="请输入联系人称呼" style="text-align:right">
                        <select id="sex" v-model="jobInfo.sex" name="sex">
                            <option value="1">先生</option>
                            <option value="0">女士</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                        <label for="phoneNum" style="width: 200px">联系电话:</label>
                    </td>
                    <td class="td_right">
                        <input type="text" v-model="jobInfo.phoneNum" id="phoneNum" name="phoneNum" placeholder="请输入联系人手机号">

                    </td>
                </tr>
                <tr>
                    <td class="td_left">
                    </td>
                    <td class="td_right check">
                        <input type="button" @click="jobInfoSubmit" class="submit" value="确定">
                        <span id="msg" v-text="errorMsg" style="color: red;"></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--引入尾部-->
<div id="footer"></div>
<!--导入布局js，共享header和footer-->
<script type="text/javascript" src="js/include.js"></script>

<script>
    var vm =new Vue({/*TODO*/
       el:"#jobContent",
       data:{
           jobInfo:{
               jobCategory:'请选择职业',//下拉框选择的一级分类
               jobGrade:'请选择职业等级',//下拉框选择的二级分类
               provinceCode:'请选择省份',//下拉框选择的省份
               cityCode:'请选择城市',//下拉框选择的城市
               areaCode:'请选择地区',//下拉框选择的地区
               jobDetail:'',//工作详细要求
               jobWage:'',//提供的日薪
               firstName:'',//姓氏
               sex:'1',//性别
               phoneNum:''//联系电话
           },
           jobCategoryList:[],//接收返回的一级分类列表
           jobGradeList:[],//接收返回的二级分类列表
           provinceList:[],//接收返回的省份列表
           cityList:[],//接收返回的城市列表
           areaList:[],//接收返回的地区列表
           errorMsg:'',//错误的信息
       },
        methods:{
            jobInfoSubmit(){//表单提交
                var flag1="请选择职业"==this.jobInfo.jobCategory;
                var flag2="请选择职业等级"==this.jobInfo.jobGrade;
                var flag3="请选择省份"==this.jobInfo.provinceCode;
                var flag4="请选择城市"==this.jobInfo.cityCode;
                var flag5="请选择地区"==this.jobInfo.areaCode;
                if(!flag1 && !flag2 && !flag3 && !flag4 && !flag5 ){
                    this.$http.post('/jobInfo1/saveInfo', this.jobInfo,{emulateJSON: true})
                        .then(function (result) {
                            if (result.body.flag) {
                                location.href="zhaopin_ok.html";
                            }else{
                                this.errorMsg=result.body.errorMsg;
                            }
                        });
                }else{
                    this.errorMsg='请填写完整的信息';
                }

            },
        },
        created(){
            //发送ajax获取所有的一级分类信息,并且保存到一个json对象中
            this.$http.get('/jobCategory/queryFirstJobCategoryList').then(function (result) {
                if(result.body && result.body.length>0){
                    this.jobCategoryList = result.body;
                    //默认下拉框显示
                    //this.jobInfo.jobCategory = this.jobInfo.jobCategoryList[0].firstName;
                }else{
                    console.log("获取一级分类列表失败");
                }
            });
            //发送ajax获取所有的城市分类信息,并且保存到一个json对象中
            this.$http.get('/provinceCity/province').then(function (result) {
                if(result.body && result.body.length>0){
                    this.provinceList = result.body;
                    //默认下拉框显示
                    //this.jobInfo.jobCategory = this.jobInfo.jobCategoryList[0].firstName;
                }else{
                    console.log("获取一级分类列表失败");
                }
            });
            //发送请求,获取当前人的所有信息
            this.$http.get('/jobInfo1/queryJobInfoByUserName').then(function (result) {
                if(result.body.flag){
                    this.jobInfo = result.body.data;
                    this.jobInfo.jobDetail=result.body.data.jbob1Detail.job1Detail;
                    console.log(this.jobInfo);
                }else{
                    console.log("获取当前人招聘信息失败");
                }
            });

        },
        beforeMount(){
            console.log(this.jobCategoryList);
            this.jobCategoryList.forEach((item,index)=>{
                console.log(item.firstId);
                console.log(item.firstName);
            });
        },
        watch:{
            'jobInfo.jobCategory':function (newVal,oldVal) {
                console.log(oldVal);
                if("请选择职业"!=oldVal){
                    this.jobInfo.jobGrade='请选择职业等级';
                }
                if("请选择职业"!=newVal){//发送ajax获取二级分类的信息
                    this.$http.get('/jobCategory/querySecondJobCategoryListById',{params:{firstId:newVal}},{emulateJSON: true}).then(function (result) {
                        if(result.body && result.body.length>0){
                            this.jobGradeList = result.body;
                            //默认下拉框显示
                            //this.jobInfo.jobCategory = this.jobInfo.jobCategoryList[0].firstName;
                        }else{
                            console.log("获取二级分类列表失败");
                        }
                    });
                }
            },
            'jobInfo.provinceCode':function (newVal,oldVal) {
                if("请选择省份"!=oldVal){
                    this.jobInfo.cityCode='请选择城市';
                }
                //this.jobInfo.cityCode='请选择城市';
                if("请选择省份"!=newVal){//发送ajax获取二级分类的信息
                    this.$http.get('/provinceCity/city',{params:{provinceCode:newVal}},{emulateJSON: true}).then(function (result) {
                        if(result.body && result.body.length>0){
                            this.cityList = result.body;
                            //默认下拉框显示
                            //this.jobInfo.jobCategory = this.jobInfo.jobCategoryList[0].firstName;
                        }else{
                            console.log("获取城市列表失败");
                        }
                    });
                }
            },
            'jobInfo.cityCode':function (newVal,oldVal) {
                if("请选择城市"!=oldVal){
                    this.jobInfo.areaCode='请选择地区';
                }
                //this.jobInfo.areaCode='请选择地区';
                if("请选择城市"!=newVal){

                    //发送ajax获取地区的信息
                    this.$http.get('/provinceCity/area',{params:{cityCode:newVal}},{emulateJSON: true}).then(function (result) {
                        if(result.body && result.body.length>0){
                            this.areaList = result.body;
                            //默认下拉框显示
                            //this.jobInfo.jobCategory = this.jobInfo.jobCategoryList[0].firstName;
                        }else{
                            console.log("获取地区列表失败");
                        }
                    });
                }
            },

        }
    });
</script>
</body>
</html>