<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myweb01.money01.mapper.CategoryMapper">

    <!--查询一级分类-->
    <select id="queryFirstJobCategoryList" resultType="FirstJobCategory">
        select c.first_id,c.first_name
        from first_job_category c;
    </select>

    <!--根据一级分类的id查询二级分类-->
    <select id="querySecondJobCategoryById" resultType="SecondJobCategory">
        select s.second_id,s.second_name
        from second_job_category s
        where s.first_id= #{firstId}
    </select>

    <!--//根据二级分类的id查出二级分类-->
    <select id="queryJobGradeById" resultType="SecondJobCategory">
        select s.second_name
              from second_job_category s
              where s.second_id=#{jobGradeId}
    </select>
</mapper>