<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myweb01.money01.mapper.UserMapper">
    <select id="queryUserByUserName" resultType="User">
        select * from tab_user where username = #{username}
    </select>

    <insert id="register">
        insert into tab_user values(null,#{username},#{password},#{name},#{birthday},#{sex},#{telephone},#{email},#{status},#{code});
    </insert>

    <update id="active">
        update tab_user set status = "1" where status = "0" and code = #{code}
    </update>

    <select id="login" resultType="User">
        select * from tab_user where username = #{username} and password = #{password}
    </select>
    <!--根据用户名设置发送邮件的标志为1-->
    <update id="updateUserEmailFlagByUserName">
        update tab_user set send_email_flag = "1" where status = "0" and username = #{username}
    </update>

</mapper>